[Desktop Entry]
Type=Application

Name=QuarryDB
GenericName=A SQLite Editor Application that supports ORMs.
Icon=quarrydb

Exec=quarrydb
StartupWMClass=quarrydb
Categories=Development
